
# テストさん


# ログを保存するかどうか (保存する場合は true)
SaveLog				true

### あああ

# 送信間隔
Interval			5

# タイムアウト
Timeout				10

# 何回連続して失敗したらエラーにするのか
NumErrors			10


# TCP Listen Address
TcpListen			22


# ターゲット一覧
# 書式: IP アドレス / ポート番号		チェックする TCP ポート一覧 (0: ping)

# テスト
target		www.google.com					0 80
target		8.8.8.8							0
target		google.v6.softether.co.jp				0
#target		tsukuba-wide-ftp.v6.softether.co.jp		0 80
target		mex.v6.softether.co.jp					0 80



target		thinweb.lab.coe.ad.jp				0 80 443
target		ntt-ipa-special.cyber.ipa.go.jp	0 80 443
target		telework.cyber.ipa.go.jp	0 80 443
target		thin-cacti.cyber.ipa.go.jp			0 80 443

target		thin-cacti.lab.coe.ad.jp				0 80 443

target		thindown.lab.coe.ad.jp				0 80 443
target		download.ntt-ipa-special.cyber.ipa.go.jp	0 80 443
target		download.telework.cyber.ipa.go.jp	0 80 443

target		ml-cyber.lab.coe.ad.jp              0 25 80 443
target		ml.cyber.ipa.go.jp					0 25 80 443
